.comment-to-lou {
    font-style: italic;
    font-size: 8px;
    color: grey;
}

.Dropdown-menu {
    .item-allDiscussions {
        display: none;
    }
}




.holder-marketing-block {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
    position: relative;
    .upper-left-corner-absolute {
        position: absolute;
        top: 8px;
        left: 20px;
        color: white !important;
    }
}

.marketing-block-footer {
    width: 100%;
    text-align: right;
    background-color: rgb(240, 240, 240);
    margin-top: 10px;
    color: rgb(129, 131, 134);
    position: relative;
    .user-roster-leader {
        font-weight: bold;
    }
    div {
        display: inline-block;
        .Dropdown-menu {
            a {
                color: black;
            }
        }
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
        &.join-or-leave, &.num-of-members {
            cursor: pointer;
        }
        &.num-of-members {
            width: 63px;
        }
        &.join-or-leave {
            vertical-align: bottom;
            padding-bottom: 7px;
            padding-right: 10px;
            padding-left: 8px;
        }
        a {
            color: rgb(129, 131, 134);
            &:hover {
                text-decoration: none !important;
            }
        }
        .ButtonGroup.open {
            button {
                background-color: white !important;
                color: navy !important;
            }
        }
        button {
            background-color: rgb(240, 240, 240);
            color: rgb(129, 131, 134);
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

.marketing-block {
    display: table;
    width: 100%;

        .leftside {
            display: table-cell;
            padding-left: 20px;
            position: relative;
            vertical-align: top;
            padding-right: 10px;
            color: white;
            .group-name {
                font-size: 19px;
                text-transform: uppercase;
                text-align: center;
                padding-bottom: 2px;
            }
            .session-name {
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }
            hr {
                opacity: 0.5;
                width: 80%;
            }
            .session-description {
                font-size: 13px;
                line-height: 170%;
                text-align: center;
                text-rendering: optimizeLegibility;
            }
            .group-discussion {
                text-align: center;
                margin-bottom: 18px;
            }
            .group-summary, .group-leader-name {
                font-size: 22px;
                padding-left: 35px;
                padding-right: 35px;
            }
            .group-leader-name {
                margin-bottom: 3px;
                font-style: italic;
            }
        } 

        .rightside-shim {
            display: table-cell;
            width: 15px !important;
        }

        .rightside-imageholder  {
            display: table-cell;
            vertical-align: middle;
            padding: 10px;
            position: relative;
            width: 40%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            a {
                .icon.fa.play-icon {
                    display: block;
                    font-size: 50px;
                    color: white;
                    cursor: pointer;
                }
            }
            .commentary {
                position: absolute;
                top: 10px;
                z-index: 2000;
                color: white;
                padding: 20px;
            }


        }
}

@media @phone {
    .marketing-block {
        .leftside, .rightside-imageholder {
            display: block;
            width: 100%;
        }
        .rightside-imageholder {
            margin-top: 20px;
            height: 130px;
            i {
                margin-top: 30px;
            }
        }
        .rightside-shim {
            display: none !important;
        }
    }
}

@media @tablet-up {
  .marketing-block {
    min-height: 150px;
  }
}


@media desktop-up {
    .leftside {
        .group-name {
            font-size: 25px;
            text-align: center;
        }
        .session-name {
            font-size: 19px;
        }
        .session-description {
            font-size: 15px;
        }
    }
}
