.comment-to-lou {
    font-style: italic;
    font-size: 8px;
    color: grey;
}

.Dropdown-menu {
    .item-allDiscussions {
        display: none;
    }
}




.holder-marketing-block {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    .button-letme-join-group {
        background-color: orange;
        display: inline-block;
        color: navy;
        font-weight: bold;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: 16px;
        border-radius: 10px;
        position: absolute;
        top: 6px;
        left: 6px;
        cursor: pointer;
    }
}

table.marketing-block {
    width: 100%;

   tr.marketing-block {

        td.leftside {
            position: relative;
            vertical-align: top;
            padding: 15px;
            color: white;   
            .button-join-group {
                cursor: pointer;
                position: absolute;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 10px;
                padding-right: 10px;
                color: white;
                right: 10px;
                bottom: 10px;
                background-color: rgb(228, 157, 36);
            }
            .group-name {
                font-size: 24px;
                text-align: center;
                padding-bottom: 14px;
            }
            .session-name {
                font-size: 16px;
                font-weight: bold;
            }
            .session-description {
                font-size: 14px;
            }
            .group-discussion {
                text-align: center;
                margin-bottom: 18px;
            }
            .group-summary, .group-leader-name {
                font-size: 22px;
                padding-left: 35px;
                padding-right: 35px;
            }
            .group-leader-name {
                margin-bottom: 3px;
                font-style: italic;
            }
        } 

        td.rightside-imageholder  {
            padding: 15px;
            position: relative;
            width: 350px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            a {
                .icon.fa.play-icon {
                    display: block;
                    font-size: 50px;
                    color: white;
                    cursor: pointer;
                }
            }
            .commentary {
                position: absolute;
                top: 10px;
                z-index: 2000;
                color: white;
                padding: 20px;
            }


        }

    }
}
