.TagTiles {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media @phone {
    margin: -15px -15px 0;
  }
}

.TagTile {
  &, a {
    color: @control-color;
  }
  &.colored {
    &, a {
      color: @body-bg;
    }
  }
  margin-bottom: 18px;
}


.TagTile-info {
  padding: 9px;
  text-decoration: none !important;
  display: block;
  transition: background 0.2s;
  &:hover {
    background: fade(#000, 5%);
  }
  p {
    margin-bottom: 0px !important;
  }
}


.TagTile-name {
  font-size: 20px;
  margin: 0 0 6px;
  font-weight: bold;
}
.TagTile-description {
  font-size: 14px;
  margin: 0 0 10px;
  .TagTile.colored & {
    color: fade(@body-bg, 70%);
  }
}


.TagTile-children {
  display: none !important;
  font-weight: bold;
  font-size: 12px;
  a {
    display: block;
    margin-left: 12px;
    margin-top: 7px;
  }
}




.TagTile-lastDiscussion {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  margin: 0 0px;

  .TagTile.colored & {
    color: fade(@body-bg, 70%);
  }

  &:hover .TagTile-lastDiscussion-title {
    text-decoration: underline;
  }

  time {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }
}
.TagTile-lastDiscussion-title {
  margin-right: 10px;
}
